/* 게임 화면 */
.container {
    background-color: #414141;
}

/* 버튼 스타일 */
.button {
    --main-color: rgb(46, 213, 115);
    --main-bg-color: rgba(46, 213, 116, 0.36);
    --pattern-color: rgba(46, 213, 116, 0.073);
    filter: hue-rotate(0deg);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: radial-gradient(circle, var(--main-bg-color) 0%, rgba(0, 0, 0, 0) 95%),
                linear-gradient(var(--pattern-color) 1px, transparent 1px),
                linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
    background-size: cover, 15px 15px, 15px 15px;
    background-position: center center, center center, center center;
    border-image: radial-gradient(circle, var(--main-color) 0%, rgba(0, 0, 0, 0) 100%) 1;
    border-width: 1px 0 1px 0;
    color: var(--main-color);
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    transition: background-size 0.2s ease-in-out;
}

.button:hover {
    background-size: cover, 10px 10px, 10px 10px;
}

.button:active {
    filter: hue-rotate(250deg);
}

/* 카운트다운 색상 */
#countdown {
    color: white;
    font-size: 2rem;
    display: none;
}

/* 가로벽 색상 */
#topWall, #bottomWall {
    background-color: white;
}

/* 애니메이션 효과 */
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(0px, 36px);
    transform: translate(0px, 36px);
  }
  50% {
    -webkit-transform: translate(0px, 46px);
    transform: translate(0px, 46px);
  }
}
@keyframes bounce2 {
  0%, 100% {
    -webkit-transform: translate(0px, 46px);
    transform: translate(0px, 46px);
  }
  50% {
    -webkit-transform: translate(0px, 56px);
    transform: translate(0px, 56px);
  }
}

@keyframes umbral {
  0% {
    stop-color: #d3a5102e;
  }
  50% {
    stop-color: rgba(211, 165, 16, 0.519);
  }
  100% {
    stop-color: #d3a5102e;
  }
}

@keyframes partciles {
  0%, 100% {
    -webkit-transform: translate(0px, 16px);
    transform: translate(0px, 16px);
  }
  50% {
    -webkit-transform: translate(0px, 6px);
    transform: translate(0px, 6px);
  }
}

#particles {
  animation: partciles 4s ease-in-out infinite;
}

#animatedStop {
  animation: umbral 4s infinite;
}

#bounce {
  animation: bounce 4s ease-in-out infinite;
}

#bounce2 {
  animation: bounce2 4s ease-in-out infinite;
  animation-delay: 0.5s;
}
